@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


body {
    background: linear-gradient(to top, #1D559F, #ed4c20);
}

* {
    margin: 0;
    padding: 0;
}


/* Navbar */

#neubar {
    background: #fff8ef;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 25px;
}

#neubar a {
    display: flex;
    align-items: flex-end;
    color: #1D559F;
    font-size: 20px;
    font-weight: 400;
}
#neubar a:hover{
    color: #E14C24;
}

#neubar span {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    color: #1D559F;
    line-height: 20px;
}
.nav-item {
    display: flex;
    justify-content: center;
    
}

#neubar .nav-item .active {
    border-radius: 8px;
    color: #000;
}

#neubar .nav-item .active:hover {
    background: linear-gradient(to right, #ed4c209c, #ed4c20);
    color: #fff;
}


#neubar .dropdown-menu a:hover {
    color: #454545 !important;
}

@media all and (max-width: 992px) {
    .nav-item {
        border-top: 1px solid #1D559F;
    }
    .nav-item:last-child {
        border-bottom: 1px solid #1D559F ;
    }
}

/* Duyuru */

#duyurular {
    margin-bottom: 4rem;
}

.duyuru-container {
    margin-top: 10rem;
}

.duyuru-col {
    box-shadow: 0px 3px 8px #1d559fd7;
    padding: 2rem;
    margin: 1.8rem;
    max-width: 600px;
}

@media screen and (max-width: 992px) {
    .duyuru-col {
        max-width: 660px;
    }
}



.duyuru-row {
    display: flex;
    justify-content: center;
}

.duyuru-btn {
    text-align: left;
    margin: 0 0 2rem 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem 1rem;
    border: solid 1px #1d559fd7;
    box-shadow: 0px 3px 8px #1d559fd7;
    color: #1d559fd7;
    border-radius: 15px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
}

.duyuru-btn:hover {
    color: #fff;
    background: #1d559fd7;
    transition: all 0.3s;
}



.pages-box {
    display: flex;
    justify-content: center;
}

.page-btn {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1d559fd7;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-weight: bold;
    border-radius: 0;
}

.page-btn:hover {
    color: #fff;
    background-color: #1d559fd7;
}


.duyuru-katil {
    padding: 4rem 3rem;
}

.katil-btn {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


.duyuru-katil p {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 2rem;
}

.duyuru-baslik {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

/* ___________________________ */
/* Hakkımızda */
.title {
    font-size: 38px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 3rem;
}


.hak-container {
    margin-bottom: 4rem;
}

.hak-row {
    display: flex;
    justify-content: center;
}



.about {
    padding: 2rem 4rem;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 3px 8px #1d559fd7;
    color: #fff;
    text-align:center;
    margin: 2rem 1rem;
    max-width: 400px;
}

@media screen and (max-width: 992px) {
    .about {
        max-width: 660px;
    }
}





.about:hover {
    box-shadow: 0px 0px 20px #fff;
    transform: scale(1.009);
}

.altbaslik {
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 12px;
    text-align: center;
}

p {
    font-size: 20px;
    position: relative;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* Yönetim Slider */

#yonetim-sec {
    margin-bottom: 5rem;
}

.yon-title {
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.yon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.yon-item {
    justify-content: center;
    align-items: center;
}

.yon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.yonetim {
    margin: 1rem;
    box-shadow: 0px 3px 8px  #ed4c20;
}

@media screen and (max-width: 992px) {
    .yonetim {
        margin: 1rem;
        margin-bottom: 6rem;
    }
}

.carousel-item {
    text-align: center;
    padding: 2rem;
}




/* İletisim */

#iletisim {
    margin-bottom: 5rem;
}

.ile-header {
    color: #fff;
    text-align: center;
    font-size: 38px;
}

.iletisim-box {
    margin: 1rem;
    padding: 2rem 4rem;
    box-shadow: 0px 3px 8px #ed4c20;
    display: flex;
    justify-content: center;   
}

.iletisim-box div {
    margin: 0.5rem;
}

.iletisim-item {
    display: block;
}

.ile-label {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 25px;
    font-weight: 100;
}

.ile-input {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.ile-input:focus{
    outline : #fff;
}


.mesaj {
    height: 260px;
    width: 100%;
}

.ile-btn {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem 1rem;
    border: solid 1px #ed4c20;
    box-shadow: 0px 3px 8px #ed4c20;
    color: #ed4c20;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 2rem;
}

.ile-btn:hover {
    color: #fff;
    background-color: #ed4c20;
}

.iletisim-box h5 {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}

/* Footer */

#footer {
    background-color: #fff;
}

.footer-box {
    margin: 0.5rem;
    margin-bottom: 0;
    padding: 2rem 0;
    background-color: #fff;
    align-items: center;
    /* padding: 2rem 17rem; */
}

.footer-logo {
    height: 200px;
    width: 200px;
}

.flogo-box {
    display: flex;
    justify-content: center;
}

.social-logo {
    height: 30px;
    width: 30px;
}

.footer-list {
    list-style: none;
    padding: 0;
}
.footer-list li {
    margin-bottom: 0.5rem;
}

.footer-list-item {
    text-decoration: none;
    color: #1D559F;
}

.footer-list-item:hover {
    color: #ed4c20;
}

.footer-button {
    padding: 0.5rem;
    border-radius: 0 25px 25px 0;
    background-color: #1D559F;
    color: #fff;
    border: none;
}

.footer-button:hover {
    background-color: #ed4c20;
}

.footer-socials {
    text-align: right;
}

.footer-links {
    text-align: left;
}

.footer-socials h3 {
    color: #1D559F;
}


@media all and (max-width: 1270px) {
    .f-social-title {
        display: none;
    }
    .footer-logo {
        height: 150px;
        width: 150px;
    }
}

@media all and (max-width: 1030px) {

    .footer-list-item {
        font-size: 12px;
    }

    /* .footer-box {
        padding: 2rem 10rem;
    } */
}


