@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

body {
    background: linear-gradient(to top, #1D559F, #ed4c20);
}

* {
    margin: 0;
    padding: 0;
}


/* Navbar */

#neubar {
    background: #fff8ef;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 25px;
}

#neubar a {
    display: flex;
    align-items: flex-end;
    color: #1D559F;
    font-size: 20px;
    font-weight: bold;
}
#neubar a:hover{
    color: #E14C24;
}

#neubar span {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    color: #1D559F;
    line-height: 20px;
}
.nav-item {
    display: flex;
    justify-content: center;
    
}

#neubar .nav-item .active {
    border-radius: 8px;
    color: #000;
}

#neubar .nav-item .active:hover {
    background: linear-gradient(to right, #ed4c209c, #ed4c20);
    color: #fff;
}


#neubar .dropdown-menu a:hover {
    color: #454545 !important;
}

@media all and (max-width: 992px) {
    .nav-item {
        border-top: 1px solid #1D559F;
    }
    .nav-item:last-child {
        border-bottom: 1px solid #1D559F ;
    }
}

/* Duyuru */


/* ___________________________ */
/* Hakkımızda */
.title {
    font-size: 38px;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 150px;
    margin-bottom: 4rem;
}


.hak-kutu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 16rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

@media all and (max-width: 1400px) {
    .hak-kutu {
        grid-template-columns: 1fr;
    }
}

.about {
    padding: 2rem 4rem;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 3px 8px #1d559fd7;
    color: #fff;
    text-align:center;
}


.about:hover {
    box-shadow: 0px 0px 20px #fff;
    transform: scale(1.009);
}

.altbaslik {
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 12px;
    text-align: center;
}

p {
    font-size: 20px;
    position: relative;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* Yönetim Slider */

.yon-title {
    color: #fff;
    margin-bottom: 2rem;
}

.yon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.yon-item {
    justify-content: center;
    align-items: center;
}

.yon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.yonetim {
    margin: 1rem 16rem;
    box-shadow: 0px 3px 8px #ed4c20;
}

.carousel-item {
    text-align: center;
    padding: 2rem;
}



/* Galeri */


/* #acilisekrani {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px 0;
    transition: all .5s ease;
}

#acilisekrani .anaresim {
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

#acilisekrani .anaresim img {
    position: relative;
    display: block;
    width: 115%;
    height: 285px;
    object-fit: cover;
    opacity: 1;
    transition: all 350ms ease;
    transform: translate3d(-30px, 0, 0);
}

#acilisekrani .anaresim .content {
    color: white;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0 30px;
}

#acilisekrani .anaresim h4,
#acilisekrani .anaresim span {
    position: relative;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: translate3d(-10%, 0, 0);
}


#acilisekrani .anaresim:hover img {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
}

#acilisekrani .anaresim h4 {
    border-bottom: 1px solid #fff;
    border-right: 200px solid transparent;
}

#acilisekrani .anaresim:hover h4::after {
    transform: translate3d(0, 0, 0);
}

#acilisekrani .anaresim:hover h4,
#acilisekrani .anaresim:hover span {
    opacity: 1;
    transform: translate3d(0, 0, 0);
} */

/* TABS YAPISI*/

/* #tabsyapisi {
    margin: 50px 130px;
    display: none;
    transition: all .5s ease;
}

#tabsyapisi .tabs-ikon {
    display: flex;
    flex-direction: column;
}

#tabsyapisi .tabs-ikon button {
    padding: 0;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: black;
}

#tabsyapisi .tabs-ikon .active img {
    opacity: 1;
}

#tabsyapisi .tabs-ikon img {
    width: 100%;
    opacity: 0.5;
}

#tabsyapisi .tab-content {
    width: 100%;
    height: 100%;
    align-items: center;
}

.kapatmabutonu i {
    color: #fff;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
    transition: all 350ms ease;
    margin-left: 81.5%;
    margin-top: -2%;
    opacity: 0.75;
}

.kapatmabutonu i:hover {
    opacity: 1;
}

.slider-for1 img,
.slider-nav1 img,
.slider-for2 img,
.slider-nav2 img {
    border-radius: 20px;
}

.slider-nav1 img,
.slider-nav2 img {
    padding: 10px;
}


@media only screen and (max-width:800px) {
    #tabsyapisi {
        margin: 10px 26px;
    }

    #tabsyapisi .tabs-ikon #v-pills-tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    #tabsyapisi .tabs-ikon #v-pills-tab button {
        margin: 10px 20px;
    }

    #tabsyapisi .tabs-ikon button {
        width: 30%;
    }

    #tabsyapisi .tabs-ikon {
        display: none;
    }

    #tabsyapisi .kapatmabutonu {
        margin-left: 10%;
    }
} */

/* İletisim */
#iletisim {
    height: 550px;
    width: 900px;
    text-align: center;
    border-style: dotted;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

#iletisim input {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: 90px;
    margin-top: -10px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
    opacity: 1;
}

.name {
    margin-right: 666px;
}

.div1 {
    margin-top: 80px;
    margin-left: 10px;
}

.div2 {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
}

#iletisim input[name=gonder] {
    border-radius: 15px;
    cursor: pointer;
    background-color: #1D559F;
    margin-left: 100px;
    margin-top: -5px;
    opacity: 0.7;
    border: 2px solid #fff;


}

#iletisim input[name=gonder]:hover {
    transform: scale(0.96);
    background: #E14C24;

}

.div3 {
    float: right;
}

#gorus {
    float: right;
    width: 450px;
    height: 260px;
    margin-right: 80px;
    margin-top: -12px;
    box-sizing: border-box;
    border-radius: 6px;
    opacity: 1;
}

.name2 {
    margin-top: -280px;
    margin-right: 386px;

}

.div4 {
    text-align: center;
    margin-top: 20px;
}

/* Footer */
#footer {
    margin-top: 150px;
    background-color: #fff;
}

#footer .logo {
    margin: 10px 0;
    height: 175px;
}

#footer .buton {
    border-radius: 20px;
    text-align: center;
}

#footer a {
    color: #1D559F;
}

#footer a:hover,
.btn:hover {
    color: #E14C24;
}